
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar">
        @*inverse*@
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Product/ProductList">Project</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Product/ProductList">Home</a></li>
                <li><a href="/Product/ProductList">Products</a></li>

                @{
                    if (Session["UserID"] != null)
                    {
                        <li><a href="/Product/OrderProduct">Order Product</a></li>
                        <li><a href="/Wallet/Wallet">Wallet</a></li>
                        <li><a href="/Report/Report">Report</a></li>
                        if (Convert.ToInt16(Session["UserType"]) == 1)
                        {
                            <li><a href="/Product/ConfirmList">Product Confirm List</a></li>
                            <li><a href="/Wallet/ConfirmList">Wallet Confirm List</a></li>
                        }
                    }

                }

            </ul>
            <ul class="nav navbar-nav navbar-right">

                @if (Session["UserID"] == null)
                {
                    <li><a href="~/Home/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="~/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
                else
                {
                    <li><a href="~/Home/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                }

            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>

